@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

html, body{
  margin:0;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  font-family: 'Grandiflora One', serif;
}

body {
  height: 100%;
}

#root{
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}

.App{
  padding-left:20px;
  padding-right:20px;
}
.CountBox{
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}
.EvenOdd{
  display: flex;
  flex-direction: row;
}
button{
  display: block;
  width: 50%;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  background-color: rgb(153, 220, 222);  
}